<!DOCTYPE html
	PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">
	<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;" />
	<title>Mymeeting</title>

	<style type="text/css">
		body {
			width: 100%;
			margin: 0;
			padding: 0;
			-webkit-font-smoothing: antialiased;
			mso-margin-top-alt: 0px;
			mso-margin-bottom-alt: 0px;
			mso-padding-alt: 0px 0px 0px 0px;
		}

		p,
		h1,
		h2,
		h3,
		h4 {
			margin-top: 0;
			margin-bottom: 0;
			padding-top: 0;
			padding-bottom: 0;
		}

		span.preheader {
			display: none;
			font-size: 1px;
		}

		html {
			width: 100%;
		}

		table {
			font-size: 12px;
			border: 0;
		}

		.menu-space {
			padding-right: 25px;
		}

		a,
		a:hover {
			text-decoration: none;
			color: #FFF;
		}


		@media only screen and (max-width:640px) {
			body {
				width: auto !important;
			}

			table [class=main] {
				width: 440px !important;
			}

			table [class=two-left] {
				width: 420px !important;
				margin: 0px auto;
			}

			table [class=full] {
				width: 100% !important;
				margin: 0px auto;
			}

			table [class=two-left-inner] {
				width: 400px !important;
				margin: 0px auto;
			}

			table [class=menu-icon] {
				display: none;
			}

		}

		@media only screen and (max-width:479px) {
			body {
				width: auto !important;
			}

			table [class=main] {
				width: 310px !important;
			}

			table [class=two-left] {
				width: 300px !important;
				margin: 0px auto;
			}

			table [class=full] {
				width: 100% !important;
				margin: 0px auto;
			}

			table [class=two-left-inner] {
				width: 280px !important;
				margin: 0px auto;
			}

			table [class=menu-icon] {
				display: none;
			}


		}
	</style>

</head>

<body yahoo="fix" leftmargin="0" style="    background-image: -webkit-linear-gradient(bottom, #a554fd 0, #684de4 100%);"
	topmargin="0" marginwidth="0" marginheight="0">

	<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0"
		style=" background-image: url('https://mymeeting-new.s3.ap-south-1.amazonaws.com/1602936066179.jpg');">
		<tr>
			<td align="center" valign="top">
				<table width="600" border="0" align="center" cellpadding="0" cellspacing="0" class="main">
					<tr>
						<td height="100" align="center" valign="top" style="font-size:100px; line-height:100px;">&nbsp;
						</td>
					</tr>
					<tr>
						<td height="330" align="center" valign="top"
							style=" background-image: url('https://mymeeting-new.s3.ap-south-1.amazonaws.com/1602935207772.jpg');background-size: cover; -moz-border-radius: 0px 0px 0px 0px; border-radius: 0px 0px 0px 0px; box-shadow:5px 0px 18px 0px #28243d;">
							<table width="510" border="0" align="center" cellpadding="0" cellspacing="0"
								class="two-left">
								<tr>
									<td height="40" align="left" valign="top" style="font-size:40px; line-height:40px;">
										&nbsp;</td>
								</tr>
								<tr>
									<td align="left" valign="top">
										<table width="105" border="0" align="center" cellpadding="0" cellspacing="0"
											class="full">
											<tr>
												<td align="center" valign="top"><a href="#"><img editable="true"
															mc:edit="bm10-01"
															src="https://mymeeting-new.s3.ap-south-1.amazonaws.com/1602923887845.jpg"
															width="100" height="100" alt="" /></a></td>
											</tr>
										</table>
									</td>
								</tr>
								<tr>
									<td height="70" align="left" valign="top" style="font-size:70px; line-height:70px;">
										&nbsp;</td>
								</tr>
								<tr>
									<td align="left" valign="top">
										<table width="450" border="0" align="left" cellpadding="0" cellspacing="0"
											class="two-left-inner">
											<tr>
												<td align="left" valign="top"
													style="font-size:25px; line-height:40px; color:#ffffff; font-weight:normal;"
													mc:edit="bm10-04">
													<multiline><%= locals.text %></multiline>
												</td>
											</tr>
											<tr>
												<td height="8" align="left" valign="top"
													style="font-size:8px; line-height:8px;">&nbsp;</td>
											</tr>
											<td align="left" valign="top">
												<table width="120" border="0" align="left" cellpadding="0"
													cellspacing="0">
												</table>
											</td>
								</tr>
								<tr>
									<td height="30" align="center" valign="top"
										style=" font-size:30px; line-height:30px;">&nbsp;</td>
								</tr>
							</table>
							<table width="220" border="0" align="right" cellpadding="0" cellspacing="0"
								class="two-left">
								<tr>
									<td align="center" valign="top"><a href="#"><img editable="true" mc:edit="bm10-07"
												src="https://mymeeting-new.s3.ap-south-1.amazonaws.com/1602924325699.jpg" width="120"
												height="200" alt=""
												style="-moz-border-radius: 4px; border-radius: 4px; margin-top:4px;" /></a>
									</td>
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td height="50" align="left" valign="top" style="font-size:50px; line-height:50px;">&nbsp;</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td align="center" valign="top" bgcolor="#FFFFFF">
				<table width="600" border="0" align="center" style="margin-top: 35px;" cellpadding="0" cellspacing="0"
					class="full">
					<tr>
						<td width="200" align="center" valign="top"><a href="#"><img editable="true" mc:edit="bm10-08"
									src="https://mymeeting-new.s3.ap-south-1.amazonaws.com/1602925996777.jpg" width="200"
									height="150" alt=""
									style="display:block;width:80% !important; height:auto !important; " /></a></td>
						<td width="200" align="center" valign="top"><a href="#"><img editable="true" mc:edit="bm10-09"
									src="https://mymeeting-new.s3.ap-south-1.amazonaws.com/1602926131458.jpg" width="200"
									height="150" alt=""
									style="display:block;width:80% !important; height:auto !important; " /></a></td>
						<td width="200" align="center" valign="top"><a href="#"><img editable="true" mc:edit="bm10-10"
									src="https://mymeeting-new.s3.ap-south-1.amazonaws.com/1602926394518.jpg" width="200"
									height="150" alt=""
									style="display:block;width:80% !important; height:auto !important; " /></a></td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td align="center" valign="top" bgcolor="#FFFFFF">
				<table width="510" border="0" align="center" cellpadding="0" cellspacing="0" class="two-left">
					<tr>
						<td height="40" align="left" valign="top" style="font-size:40px; line-height:40px;">&nbsp;</td>
					</tr>
					<tr>
						<td align="center" valign="top">
							<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
								<tr>
									<td height="35" align="left" valign="top" style="font-size:35px; line-height:35px;">
										&nbsp;</td>
								</tr>
								<tr>
									<td align="left" valign="top"
										style="font-family:'Open Sans', sans-serif, Verdana; font-size:14px;font-weight:bold; line-height:20px; color:#333;"
										mc:edit="bm10-12">
										<multiline>If this isn't you then Contact us at support@mymeeting.co.in</multiline>
									</td>
								</tr>
								<tr>
									<td align="left" valign="top"
										style="font-family:'Open Sans', sans-serif, Verdana; font-size:25px;font-weight:bold; line-height:25px; color:#684de4;"
										mc:edit="bm10-12">
										<multiline>Thank you and Regards,</br>
											Mymeeting Team</multiline>
									</td>
								</tr>
								<tr>
									<td height="30" align="left" valign="top">&nbsp;</td>
								</tr>
								<tr>
									<td align="left" valign="top">
										<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
											<tr>
												<td align="left" valign="top">
													<table width="220" border="0" align="left" cellpadding="0"
														cellspacing="0">
													</table>
												</td>
											</tr>
										</table>
									</td>
								</tr>
								<tr>
									<td height="35" align="left" valign="top" style="font-size:35px; line-height:35px;">
										&nbsp;</td>
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td height="30" align="left" valign="top" style="font-size:30px; line-height:30px;">&nbsp;</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td align="center" valign="top"
				style="background-image: -webkit-linear-gradient(bottom, #a554fd 0, #684de4 100%);">&nbsp;</td>
		</tr>

		<tr>
			<td align="left" valign="top">
				<table width="510" border="0" align="center" cellpadding="0" cellspacing="0" class="two-left">
					<tr>
						<td height="40" align="center" valign="top" style="font-size:40px; line-height:40px;">&nbsp;
						</td>
					</tr>

					<tr>
						<td height="30" align="center" valign="top" style="font-size:30px; line-height:30px;">&nbsp;
						</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td height="65" align="left" valign="top" style="font-size:65px; line-height:65px;">&nbsp;</td>
		</tr>
	</table>
	</td>
	</tr>
	</table>
</body>

</html>